<hr>
<footer class="small gray">
	<p>
		<span>&copy;</span>
		问卷分析
		<span><script type="text/javascript">document.write(new Date().getFullYear());</script></span>
		广州市时线咨询服务有限公司 版权所有
		<span class="float-right">Designed by LUCAS</span>
	</p>
</footer>


<script src="{{ site.baseurl }}/assets/js/jquery-3.2.1.slim.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery-1.11.3.js"></script>
<script src="{{ site.baseurl }}/assets/js/popper.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/feather.min.js"></script>
<script>
feather.replace()
</script>