<table class="table table-striped table-sm">
    <tbody>
        <tr>
            <td>004</td>
            <td>工资可以高点，伙食好点</td>
        </tr>
        <tr>
            <td>010</td>
            <td>伙食改善</td>
        </tr>
        <tr>
            <td>012</td>
            <td>能体恤民心</td>
        </tr>
        <tr>
            <td>021</td>
            <td>员工的福利薪资有待提高改善！谢谢</td>
        </tr>
        <tr>
            <td>022</td>
            <td>员工的福利，工资</td>
        </tr>
        <tr>
            <td>026</td>
            <td>伙食改善，薪资怎么调动</td>
        </tr>
        <tr>
            <td>036</td>
            <td>年假可以不将绩效吗</td>
        </tr>
        <tr>
            <td>071</td>
            <td>工资提高，有福利代遇</td>
        </tr>
        <tr>
            <td>072</td>
            <td>对员工提出的好的建议积极采纳</td>
        </tr>
        <tr>
            <td>073</td>
            <td>工资提高，有福利代遇</td>
        </tr>
        <tr>
            <td>077</td>
            <td>工资福利</td>
        </tr>
        <tr>
            <td>078</td>
            <td>工资福利</td>
        </tr>
        <tr>
            <td>079</td>
            <td></td>
        </tr>
        <tr>
            <td>080</td>
            <td>工资福利</td>
        </tr>
        <tr>
            <td>081</td>
            <td>工资福利</td>
        </tr>
        <tr>
            <td>082</td>
            <td>工资福利</td>
        </tr>
        <tr>
            <td>083</td>
            <td>工资提高，社保按时缴费，伙食改善，工资按时发放！！！</td>
        </tr>
        <tr>
            <td>085</td>
            <td>工资提高</td>
        </tr>
        <tr>
            <td>086</td>
            <td>工资提高，每月按时交社保按时发工资!伙食也改善!福利好点!</td>
        </tr>
        <tr>
            <td>087</td>
            <td>准时发工资！</td>
        </tr>
        <tr>
            <td>088</td>
            <td>准时发工资！</td>
        </tr>
        <tr>
            <td>090</td>
            <td>准时发工资！</td>
        </tr>
        <tr>
            <td>091</td>
            <td>接好做的订单，布料厚的，赚钱的牌子。领导脾气小一点。好好与人沟通。</td>
        </tr>
        <tr>
            <td>092</td>
            <td>工资太低，伙食又贵又差</td>
        </tr>
        <tr>
            <td>094</td>
            <td>工资太低</td>
        </tr>
        <tr>
            <td>099</td>
            <td>工资福利和伙食问题</td>
        </tr>
        <tr>
            <td>107</td>
            <td>要听员工建议，员工福利和奖金要提高</td>
        </tr>
        <tr>
            <td>109</td>
            <td>奖金和福利！听取员工建意！</td>
        </tr>
    </tbody>
</table>