---
layout: default
title: "分析"
---

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h2>{{ page.title }}</h2>
</div>


<div class="row">
	<div class="col-6">
		<h5>横向</h5>
		<p>横向分析针对同一问卷题目提供本客户本次调查与其它客户历史反馈结果的对比</p>
		<p>
			<select class="custom-select d-block w-100" id="">
				<option value="">选择题目...</option>
				<option>1.1 工厂有员工代表吗？</option>
				<option>1.2 如果想找员工代表反映问题，您知道可以找谁吗？</option>
				<option>1.4 您对目前员工代表开展工作的整体评价</option>
				<option>1.5 您觉得工厂需要有员工代表吗？</option>
				<option>1.6 您愿意成为员工代表吗？</option>
				<option>3.5 您对工厂处理员工投诉/申诉的整体评价</option>
				<option>4.3 你进厂以后受到过奖励吗？</option>
				<option>4.4 工厂制定激励机制(如奖励、晋升)时了解了工人的想法</option>
				<option>4.5 你对本工厂的工人激励/奖励制度</option>
				<option>5.2 当工人和管理者意见不一致时，目前工人主要采取以下哪种方式？</option>
				<option>5.4 在过去的1年，你对工厂提过改善建议吗？</option>
				<option>6.1 我的上级安排工作时，会了解下属的困难</option>
				<option>6.2 我的上级能充分调动下属的工作积极性</option>
				<option>6.3 我的上级乐意听取员工的意见</option>
				<option>6.4 工作中遇到困难时，我的上级会主动给予帮助</option>
				<option>6.5 我满意上级的管理方式</option>
				<option>7.1 工厂鼓励员工提改善建议</option>
				<option>7.2 工厂重视员工的需求</option>
				<option>7.3 管理者尊重员工</option>
				<option>7.4 管理者能公平对待员工</option>
				<option>7.5 工人在班组内可以自由发表意见</option>
				<option>8.3 你对班组目前的生产效率评价是</option>
				<option>8.4 您对本厂工人与管理者之间沟通的整体评价</option>
				<option>8.5 您对工厂的整体满意度</option>
			</select>
		</p>


		<p>
			<select class="custom-select d-block w-100" id="">
				<option value="">选择对比项目...</option>
				<option>2015年xxx机构关于xxx的调查</option>
				<option>2012年xxx单位关于xxx的调查</option>
			</select>
		</p>

		<button class="btn btn-primary btn-sm" type="submit"><span data-feather="plus"></span></button>
		<button class="btn btn-primary btn-sm" type="submit">对比</button>

		{% include contents/analysis1.html %}
	</div>




	<div class="col-6">
		<h5>纵向</h5>
		<p>纵向分析针对同一问卷题目提供本客户本次调查与本客户历史反馈结果的对比</p>
		<p>
			<select class="custom-select d-block w-100" id="">
				<option value="">选择题目...</option>
				<option>1.1 工厂有员工代表吗？</option>
				<option>1.2 如果想找员工代表反映问题，您知道可以找谁吗？</option>
				<option>1.4 您对目前员工代表开展工作的整体评价</option>
				<option>1.5 您觉得工厂需要有员工代表吗？</option>
				<option>1.6 您愿意成为员工代表吗？</option>
				<option>3.5 您对工厂处理员工投诉/申诉的整体评价</option>
				<option>4.3 你进厂以后受到过奖励吗？</option>
				<option>4.4 工厂制定激励机制(如奖励、晋升)时了解了工人的想法</option>
				<option>4.5 你对本工厂的工人激励/奖励制度</option>
				<option>5.2 当工人和管理者意见不一致时，目前工人主要采取以下哪种方式？</option>
				<option>5.4 在过去的1年，你对工厂提过改善建议吗？</option>
				<option>6.1 我的上级安排工作时，会了解下属的困难</option>
				<option>6.2 我的上级能充分调动下属的工作积极性</option>
				<option>6.3 我的上级乐意听取员工的意见</option>
				<option>6.4 工作中遇到困难时，我的上级会主动给予帮助</option>
				<option>6.5 我满意上级的管理方式</option>
				<option>7.1 工厂鼓励员工提改善建议</option>
				<option>7.2 工厂重视员工的需求</option>
				<option>7.3 管理者尊重员工</option>
				<option>7.4 管理者能公平对待员工</option>
				<option>7.5 工人在班组内可以自由发表意见</option>
				<option>8.3 你对班组目前的生产效率评价是</option>
				<option>8.4 您对本厂工人与管理者之间沟通的整体评价</option>
				<option>8.5 您对工厂的整体满意度</option>
			</select>
		</p>

		<p>
			<select class="custom-select d-block w-100" id="">
				<option value="">选择对比项目...</option>
				<option>2015年xxx公司关于xxx的调查</option>
				<option>2012年xxx公司关于xxx的调查</option>
			</select>
		</p>

		<button class="btn btn-primary btn-sm" type="submit"><span data-feather="plus"></span></button>
		<button class="btn btn-primary btn-sm" type="submit">对比</button>

		{% include contents/analysis2.html %}
	</div>
</div>


<hr>
<button class="btn btn-primary btn-sm btn-block" type="submit" onclick="javascript:window.location.href='{{ site.baseurl }}/pages/report.html'"><span data-feather="arrow-down-circle"></span> 新建报告</button>